body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand>img {
    width: 50px;
    margin: 12px 7px;
    display: inline-block;
}

contenedor-principal header nav.navbar.navbar-default {
    min-height: 94px;
    background: white;
    /* border-bottom: 2px solid #ff9933; */
    margin: 0;
}

main .container-fluid {
    height: auto;
}

div#bs-example-navbar-collapse-1 {
    /* min-height: 135px; */
}

header>nav ul.nav>li>a {
    margin: 6px;
    outline: none;
    transition: all 1s;
    cursor: pointer;
    border-radius: 6px;
}

.navbar-default .navbar-nav>li>a>span:first-of-type {
    display: block;
    text-align: center;
    margin: 7px 0;
    color: #065d6b;
}

header a.navbar-brand {
    /* margin: 0; */
    width: 193px;
    /* height: 100%; */
}

footer.footer {
    bottom: 0;
    width: 100%;
    height: 167px;
    background-color: #ff9933;
}

footer .jumbotron {
    margin: 0;
    padding: 18px;
}

footer .container {
    padding: 1px;
}

footer.footer>div.container>a {
    margin: 58px auto;
}

footer.footer>div.container {
    /* width: 100%; */
    text-align: center;
}

main .jumbotron {
    background: #ffffff;
}

.thumbnail {
    border: none;
}

footes .container {}

main .thumbnail p {
    color: #afafaf;
    font-weight: 300;
    font-size: 1.7rem;
    text-align: center;
}

main .thumbnail h3 {
    margin: 25px 0;
    color: #868686;
    text-align: center;
}

a.btn.btn-primary.btn-lg {
    background-color: #ff9933;
    border: 2px solid #ffffff;
    padding: 11px 45px;
    color: #ffffff;
}

main .section {
    /* background: red; */
    margin: 66px 0px;
}

i.material-icons {
    /* font-size: 4rem; */
}

main .container-fluid.slide {
    background: #00acc1;
    background-position: 66% 0;
    zoom: 100%;
    background-size: contain;
    color: rgb(246, 246, 246);
    padding: 0;
}

.slide .jumbotron {
    background: rgba(107, 224, 244, 0);
    padding: 53px 23px;
    width: 100%;
    margin: 0 auto;
}

nav.navbar.navbar-default {}

main .section .row {
    margin: 100px 0;
    /* margin-top: 0; */
}

.sizing-addon1 {
    font-size: 2rem;
    color: rgb(228, 228, 228);
    background: white;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid;
    padding: 0 21px;
}

.input-group .form-control:focus {
    border-color: #8b8b8b;
    box-shadow: none;
}

contenedor-principal>header>.navbar>.container>collapse>.nav>li>a:hover {
    background: red;
}

contenedor-principal .container-fluid.form-olvido>p>a:hover {}

contenedor-principal .navbar-default .navbar-nav>li>a:hover {
    background: #f6f6f6;
    transition: all 1s;
}

a {}

main h2.text-center {
    color: #767676;
    font-size: 4rem;
}

main .container .jumbotron p {
    font-size: 3rem;
    font-weight: 300;
}

main>.container>.section>.row>.col-sm-6.col-md-4 {
    padding: 0;
}

contenedor-principal button.navbar-toggle.collapsed {
    padding: 13px;
    margin: 25px;
    background-color: white;
    border: none;
}

contenedor-principal button.navbar-toggle.collapsed:hover {
    background-color: #f4f4f4;
}

.slide .container {
    padding: 0;
    /* width: 100%; */
    background: url(../img/fondoJumbotron.png) no-repeat;
}

main .section .bs-callout.bs-callout-danger {
    padding: 10px;
}

.bs-callout.bs-callout-danger>h2 {
    color: #ff9933;
    background: #f6f6f6;
    border-left: 2px solid;
    padding: 26px 19px;
    border-right: 2px solid;
    text-align: center;
}

header>nav ul.nav>li>a>span:last-of-type {
    color: #1398ad;
    font-weight: 400;
    font-size: 1.6rem;
}

.close>span>i.material-icons {
    padding: 11px;
}

i.material-icons {}

.navbar-brand>span {
    display: inline-block;
    width: 10px;
    margin: 0px 2px;
    vertical-align: middle;
    color: #449faf;
}

.slide .jumbotron>div {
    /* border-left: 2px solid white; */
    padding-left: 30px;
}

.jumbotron h1 {
    font-weight: 100;
    font-size: 5.5rem;
}

menu-panelpaciente md-sidenav.md-sidenav-left.ng-isolate-scope._md.md-whiteframe-4dp {
    max-width: 200px;
    position: fixed;
}

md-toolbar.md-theme-grey._md._md-toolbar-transitions {
    background: white;
}

menu-panelpaciente.ng-scope.ng-isolate-scope h1 img {
    width: 56px;
}

menu-panelpaciente.ng-scope.ng-isolate-scope .md-toolbar-tools h1 {
    text-align: center;
}

md-toolbar {
    text-align: center;
}

md-toolbar.md-theme-dark._md._md-toolbar-transitions {
    text-align: right;
    height: 153px;
    background-color: rgba(255, 255, 255, 0);
}

h1.md-toolbar-tools {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 47px 0;
}

button.md-fab.md-button.md-ink-ripple {
    position: absolute;
    right: 0;
    top: 16%;
    /* height: 4px; */
    /* color: rgba(245, 245, 245, 0.52) !important; */
    /* border: none; */
    background: rgb(185, 185, 185);
    /* border: 1px solid; */
    /* text-align: center; */
    /* padding: 0; */
    /* margin: 5px; */
}

md-toolbar i.material-icons {
    color: rgba(255, 255, 255, 0.69);
    font-size: 21px;
}

menu-panelturnos.ng-isolate-scope {}

menu-panelturnos.ng-isolate-scope {}

md-dialog._md._md.md-transition-in {
    max-width: 100%;
}

.horizontal-collapse {
    height: 70px;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.sidenavdemoCustomSidenav.layout-column {
    height: 100% !important;
}

menu-panelpaciente .layout-column .col {
    width: 98%;
}

menu-panelpaciente > div >section md-content._md > div {
    /* background: red; */
}

menu-panelturnos .md-list-item-inner {
    /* display: block; */
    /* text-align: center; */
    height: 101px;
}

a.md-no-style.md-button.md-ink-ripple {
}

p {}

span.md-icon-button.md-primary md-icon svg path {
    fill: #bdbdbd;
}

menu-panelturnos .md-list-item-inner > p {
    font-size: 1.6rem;
    color: #8c8c8c;
    margin-top: 5px;
    text-align: center;
    margin: 5px 73px;
    width: 43%;
    display: inline-block;
    font-weight: 400;
}

md-content.layout-margin._md {
    margin: 0;
}

md-icon.ng-scope.material-icons {
    color: white !important;
}

button.md-fab.md-button.md-ink-ripple:hover {
    background-color: #727272;
}

.search-input md-input-container label {
    font-size: 18px;
    color: #c1c1c1;
    font-weight: 300;
}

md-input-container.md-accent.flex {
    margin-bottom: 0;
    width: 100%;
    margin: 7px;
    margin-top: 34px;
}

button.btn.btn-default.btn-filter {
    color: #898686;
    /* background-color: #e6e6e6; */
    border-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    padding: 12px 12px 4px 12px;
    outline: none;
}

button.btn.btn-default.btn-filter {
    position: absolute;
    left: -48px;
}

.search-input .well.well-lg {
    background: #ffffff;
    padding: 7px;
    border: none;
    margin: 0;
}

.search-input.layout-align-start-center.layout-column {
    background: white;
}

.search-input h1 {
    color: #818181;
    font-weight: 300;
    margin: 30px 0;
}

.search-input .layout-column {
    background-color: transparent;
    border: none;
}

.search-input  md-content.md-padding.md-accent._md {
    background: #ffffff;
    border-color: transparent;
    box-shadow: none;
    padding: 0;
    overflow: hidden;
    padding-bottom: 26px;
}

.search-input md-input-container input {
    border-bottom: 2px solid #c6c6c6;
}

md-content.layout-margin._md {
    /* background: #7b7b7b; */
}

svg {}

span.md-icon-button.md-primary md-icon svg {
    width: 52px;
    height: 65px;
    margin-left: -10px;
}

span.md-icon-button.md-primary {
    position: absolute;
    top: 8px;
    left: 3.4rem;
    display: inline-block;
}

md-icon.icon-search,md-icon.icon-location {
    /* top: -23px; */
    width: 56px;
    height: 55px;
    left: -14px;
    padding: 2px;
    /* border-bottom: 2px solid #c6c6c6; */
}

md-icon.icon-search svg path {
    fill: #acacac;
}

md-icon.icon-location {
    margin: 0;
    color: #acacac;
    margin-left: -1px;
    /* margin-right: -3px; */
}

menu-panelpaciente section.layout-wrap.layout-sm-column.layout-align-start-center.layout-row {
    background: rgb(19, 152, 173);
}

md-icon.ng-scope {}

button.md-icon-button.btn-menu-panelturnos.md-button.md-ink-ripple > md-icon > svg > path {
    fill: white;
}

span {}

button.md-icon-button.btn-menu-panelturnos.md-button.md-ink-ripple {}

section.layout-wrap.layout-sm-column.layout-align-start-center.layout-row >  span {
    color: white;
    font-size: 2rem;
}

md-input-container md-select-value#select_value_label_0 {
    border-bottom: 2px solid #c6c6c6;
    padding: 0px;
    margin-top: -3px;
}

md-input-container md-select md-select-value span {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 6px;
}

md-list-item p.ng-binding {
    line-height: normal;
}

.well.well-sm {}

md-select-value#select_value_label_0 {}

button.md-raised.md-button.md-ink-ripple.search-button {
    background: #1398ad;
    color: #c7f7ff;
    top: 25px;
    right: 9px;
    padding: 0 23px 0 6px;
    font-size: 19px;
    height: 42px;
}

button.md-raised.md-button.md-ink-ripple:hover {
    background: #045f6a;
}

button.md-raised.confirm-button.md-button.md-ink-ripple {
    background: #FF9800;
    color: white;
    opacity: 0.4;
3: 4
}

md-content.layout-padding._md.flex {
    padding: 0;
}

md-toolbar._md._md-toolbar-transitions {
    background: #1a7887;
    color: white;
}

abm-user md-tabs md-ink-bar {
    background: #1a7887;
}

div.box-group-input md-content.md-no-momentum._md {
    /* display: block; */
    /* margin: 0 auto; */
    /* width: 100%; */
}

.col-xs-12.col-md-8.box-group-input.layout-padding.layout-column {
    margin: 0 auto;
    width: 73%;
}

abm-user md-content.row.ng-scope._md {
    display: flex;
}

.col-xs-12.col-md-8.box-btns {
    margin: 25px auto;
    text-align: center;
}

abm-user md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active,abm-user md-ink-bar {
    width: 100%;
}

button.cancel.pull-left.md-button.md-ink-ripple {
    padding: 3px 14px;
    margin: 12px;
    color: #525252;
    background: #d7d7d7;
}

.cancel md-icon.md-secondary.md-hue-3.ng-scope {
    width: 38px;
    height: 28px;
    /* background: #e4e4e4; */
    margin: 0 9px 0 0;
}

.col-xs-12.col-md-12.box-btns {
    margin: 19px 0;
}

button.md-raised.search-button.pull-right.md-button.md-ink-ripple > md-icon {
    width: 37px;
    color: #6bbecb;
    padding: 1px 2px;
    height: 16px;
}

body.ng-scope.md-dialog-is-showing {
    position: inherit !important;
}