DirectoryIndex index.html index.php index.htm parking-page.html
Options -Indexes

<IfModule mod_suphp.c> 
suPHP_ConfigPath /home/turncbct/public_html 
</IfModule>


#Denegar acceso a archivos
<FilesMatch "composer_usar\.sh|php\.ini">
Order Allow,Deny
Deny from all
</FilesMatch>
