<div layout="coloumn" ng-cloak="" class="sidenavdemoCustomSidenav">

    <section layout="row" flex="">

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

            <md-toolbar class="md-theme-dark">
                <h1 class="md-toolbar-tools"><img src="img/logo.png" alt=""></h1>
            </md-toolbar>

            <md-button class="md-fab md-mini" ng-click="toggleLeft()" aria-label="Eat cake">
                <md-icon md-svg-src="img/icons/left.svg"></md-icon>
            </md-button>
            <md-content layout-margin="">
                <menu-panelturnos></menu-panelturnos>
            </md-content>

        </md-sidenav>

        <md-content flex="" layout-padding="">
            <section layout="col" layout-sm="column" layout-align="left center" layout-wrap="" class="col-xs-12 col-md-12">
                <md-button class="md-icon-button btn-menu-panelturnos" ng-click="toggleLeft()" aria-label="More">
                    <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                </md-button>
                <span>Menu</span>
            </section>
            <div layout="column" layout-align="top center" class="search-input container-flex">
                <!-- #col -->
                <div class="col-xs-12 col-md-8">

                    <h1>Hola, busca la guardia medica</h1>

                    <div class="well well-lg">
                        <div layout="column" ng-cloak>
                            <md-content class="md-padding md-accent">
                                <form ng-submit="$event.preventDefault()" name="searchForm">

                                    <div class="col-xs-12 col-md-10">
                                        <md-input-container class="md-accent col-xs-12 col-md-6">
                                            <md-icon class="icon-search" md-svg-icon="img/icons/magnify.svg"></md-icon>
                                            <label>Nombre de la Guardia o Sanatorio</label>
                                            <input ng-model="search.$" />
                                        </md-input-container>


                                        <md-input-container class="md-accent col-xs-12 col-md-6">
                                            <md-icon class="icon-location" md-svg-icon="img/icons/map-marker-radius.svg"></md-icon>
                                            <label>Barrio de CABA</label>
                                            <md-select name="type" ng-model="project.type">
                                                <md-option value="app">Application</md-option>
                                                <md-option value="web">Website</md-option>
                                            </md-select>
                                        </md-input-container>

                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                        <md-button class="md-raised search-button pull-right">
                                            <md-icon class="icon-location" md-svg-icon="img/icons/magnify.svg"></md-icon>Buscar</md-button>
                                    </div>



                                </form>
                            </md-content>
                        </div>
                    </div>
                    <div class="row  box-filter">
                        <div class="col-xs-12 col-md-2">
                            <button type="button" class="btn btn-default btn-filter" ng-click="isCollapsed = !isCollapsed"><i class="material-icons">filter_list</i></button>
                            <span class="text">Filtrar</span>
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <div uib-collapse="isCollapsed">
                                <div layout="row">
                                    <div class="col-xs-12 col-md-8">
                                        <md-input-container style="margin-right: 10px;">
                                            <label>Size</label>
                                            <md-select ng-model="size">
                                                <md-option ng-repeat="size in sizes " value="{{size}}">{{size}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>Topping</label>
                                            <md-select ng-model="selectedToppings" multiple>
                                                <md-optgroup label="Meats">
                                                    <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
                                                </md-optgroup>
                                                <md-optgroup label="Veggies">
                                                    <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>
                                                </md-optgroup>
                                            </md-select>
                                        </md-input-container>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="well well-lg result-search">

                        <div layout=" column " class="layout-column">
                            <div ng-cloak class="col-xs-12 col-md-8">

                                <md-subheader class="md-no-sticky">Resultados de la busqueda, <strong>selecciona uno para continuar.</strong>. Tambien puedes ver su telefono y ubicacion</md-subheader>
                                <md-radio-group ng-model="cc.selectedId">
                                    <div ng-repeat="cm in cmedicos | filter:search:strict" class="noright">

                                        <div flex layout='row' layout-padding layout-align="start center">
                                            <md-radio-button flex ng-value="cm.IdCentroMedico" class="md-primary">
                                                {{cm.Nombre}}
                                            </md-radio-button>
                                            <div style="max-width:200px;" class="tel-dir">
                                                <md-button>
                                                    <md-icon md-svg-icon="img/icons/map-marker.svg" ng-click="navigateTo(cm.Ubicacion)" aria-label="Send Email" class="md-secondary md-hue-3 ab"></md-icon>
                                                </md-button>
                                                <md-button>
                                                    <md-icon class="md-secondary ab" ng-click="doSecondaryAction(cm.Telefono)" aria-label="Chat" md-svg-icon="img/icons/phone-classic.svg"></md-icon>
                                                </md-button>
                                            </div>
                                            <md-divider></md-divider>
                                        </div>

                                    </div>
                                </md-radio-group>




                            </div>
                            <div class="col-xs-12 col-md-4">

                                <md-button class="md-raised col-md-4 confirm-button ">Continuar</md-button>

                            </div>
                        </div>

                    </div>










                </div>

            </div>
            <!-- /#col -->

</div>
</div>
</md-content>

</section>

</div>