<md-dialog aria-label="Mango (Fruit)" class="_md _md md-transition-in">
    <form ng-submit="updateUser(proyecto)" no-validate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Perfil de Juan Perez </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:600px;max-height:810px; " ng-scrolling>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Editar">
                    <md-content class="row">


                        <div layout="column" layout-padding ng-cloak class='col-xs-12 col-md-12 box-group-input'>

                            <br/>
                            <md-content class="md-no-momentum">
                                <div class="container-fluid box-input-autor">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon sizing-addon1"><i class="material-icons">perm_identity</i></span>
                                            <input type="text" class="form-control" ng-model="$ctrl.proyecto.Nombre" placeholder="Nombre" aria-describedby="sizing-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid box-input-autor">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon sizing-addon1"><i class="material-icons">&#xE0BE;</i></span>
                                            <input type="email" class="form-control" ng-model="$ctrl.proyecto.Email" placeholder="Email" aria-describedby="sizing-addon1">
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid box-input-autor">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon sizing-addon1"><i class="material-icons">&#xE0BE;</i></span>
                                            <input type="number" class="form-control" ng-model="$ctrl.proyecto.NumeroSocio" placeholder="Numero de Socio" aria-describedby="sizing-addon1">
                                        </div>
                                    </div>
                                </div>

                                <!--<md-input-container md-no-float class="md-block">
                                    <label>Numero de Socio (requerido)</label>
                                    <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                    <input ng-model="user.Password" type="number" placeholder="####-####-####" ng-required="true">
                                </md-input-container>-->

                            </md-content>

                        </div>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <div class="col-xs-12 col-md-12 box-btns">

                <md-button ng-click="answer('not useful')" class="cancel pull-left">
                    <md-icon md-svg-icon="img/icons/close.svg" ng-click="navigateTo($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
                    Cancelar
                </md-button>
                <button type="submit" class="btn btn-login save pull-right"><md-icon md-svg-icon="img/icons/content-save.svg" ng-click="navigateTo($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon> Guardar Cambios</button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>