<md-dialog aria-label="Mango (Fruit)" class="_md _md md-transition-in">
    <form ng-submit="updateUser(proyecto)" no-validate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Perfil de Juan Perez </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; " ng-scrolling>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Editar">
                    <md-content class="md-padding">


                        <div layout="column" layout-padding ng-cloak>

                            <br/>
                            <md-content class="md-no-momentum">
                                <md-input-container class="md-block">
                                    <!-- Use floating placeholder instead of label -->
                                    <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                                    <input ng-model="user.Nombre" type="text" placeholder="Nombre" ng-required="true">
                                </md-input-container>


                                <md-input-container class="md-block">
                                    <!-- Use floating placeholder instead of label -->
                                    <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                                    <input ng-model="user.Email" type="email" placeholder="Email (requerido)" ng-required="true">
                                </md-input-container>

                                <md-input-container md-no-float class="md-block">
                                    <label>Numero de Socio (requerido)</label>
                                    <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                    <input ng-model="user.NumeroSocio" type="text" placeholder="####-####-####" ng-required="true">
                                </md-input-container>

                                <!--<md-input-container md-no-float class="md-block">
                                    <label>Numero de Socio (requerido)</label>
                                    <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                    <input ng-model="user.Password" type="number" placeholder="####-####-####" ng-required="true">
                                </md-input-container>-->

                            </md-content>

                        </div>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button ng-click="answer('not useful')">

                Cancelar
            </md-button>
            <button type="submit" style="margin-right:20px;">
                Guardar
            </button>
        </md-dialog-actions>
    </form>
</md-dialog>