<div class="row">

	<div class="col s2 blue-grey darken-4 center">
		<a href="#!" class="brand-logo"><img src="../img/logo.png" alt="logo de la marca"></a>
	</div>
	<div class="col s8 blue-grey lighten-3">
		<p class="center-align" id="nombre">{{nombre}}</p>
	</div>
	<div class="col s2 blue-grey lighten-3 center">
	 	<a href="../index.html">
	      <i class="medium material-icons tooltipped white-text" id="cerrar" data-position="bottom" data-delay="50" data-tooltip="Cerrar Sesión">lock_outline</i>
	    </a>
	</div>
</div>