<md-list ng-cloak>
    <md-subheader class="md-no-sticky">Hola Juan, quieres..</md-subheader>
    <md-list-item ng-click="showTabDialog1($event)" class="noright">
        <md-button class="md-icon-button md-primary" aria-label="Settings">
            <md-icon md-svg-icon="img/clock.svg"></md-icon>
        </md-button>

        <p>Turno</p>

    </md-list-item>
    <md-list-item ng-click="showTabDialog2($event)" class="noright">
        <md-button class="md-icon-button md-primary" aria-label="Settings">
            <md-icon md-svg-icon="img/message-text-outline.svg"></md-icon>
        </md-button>

        <p>Mensajes</p>

    </md-list-item>
    <md-list-item ng-click="showTabDialog($event)" class="noright">
        <md-button class="md-icon-button md-primary" aria-label="Settings">
            <md-icon md-svg-icon="img/account-outline.svg"></md-icon>
        </md-button>

        <p>Perfil</p>

    </md-list-item>
    <md-list-item ng-click="showTabDialog4($event)" class="noright">
        <md-button class="md-icon-button md-primary" aria-label="Settings">
            <md-icon md-svg-icon="img/stethoscope.svg"></md-icon>
        </md-button>

        <p>Guardia</p>

    </md-list-item>
</md-list>