<md-list ng-cloak>

    <md-list-item ng-href="#/panelTurno/turnoConfirmado" class="noright" ng-hide="turnoSinConfirmar">
        <span class="md-icon-button md-primary" aria-label="Settings">
            <md-icon md-svg-icon="img/clock.svg"></md-icon>
        </span>

        <p>Turno</p>

    </md-list-item>

    <md-list-item ng-click="showTabDialog3($event)" class="noright">
        <span class="md-icon-button md-primary" aria-label="Settings">
            <md-icon md-svg-icon="img/account-outline.svg"></md-icon>
        </span>

        <p>Perfil</p>

    </md-list-item>
    <md-list-item ng-click="showTabDialog4($event)" class="noright">
        <span class="md-icon-button md-primary" aria-label="Settings">
            <md-icon md-svg-icon="img/stethoscope.svg"></md-icon>
        </span>

        <p>Guardia</p>

    </md-list-item>
</md-list>