<div class="row">
	<div class="col s1 offset-s11">
	    <a href="">
	      <i class="medium material-icons">more_vert</i>
	    </a>
	</div>
 </div>
<div class="row">
	<p class="col s4 offset-s4 center">El tiempo para su turno en la guardia es: </p>
		<p class="col s12 center" id="tiempo">
     03:02:05
    </p>
    <p class="col s4 offset-s4 center">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de.</p>
</div>