<!-- Modal REGISTRO -->
<div class="close">
    <span><i class="material-icons" ng-click="$ctrl.cancel()">&#xE5CD;</i></span>
</div>
<form class="form-registro" action="registrate.html" method="POST">

    <div class="form-tittle">
        <h2>Registrarme</h2>
    </div>

    <div class="container-fluid box-input-autor">
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon sizing-addon1"><i class="material-icons">&#xE0BE;</i></span>
                <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
            </div>
        </div>
    </div>

    <div class="container-fluid box-input-autor">
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon sizing-addon1"><i class="material-icons">&#xE2C9;</i></span>
                <input type="text" class="form-control" placeholder="Numero de Socio" aria-describedby="sizing-addon1">
            </div>
        </div>
    </div>

    <div class="container-fluid form-olvido">
        <p>
            Cuando inicias sesi&oacute;n confirmas que estaras de acuerdo con la <a href="">pol&iacute;tica de privacidad</a> y <a href="">los terminos de uso</a>
        </p>
    </div>

    <div class="container-fluid form-btn-ingresar">
        <button type="submit" class="btn btn-login">Registrate</button>
    </div>

</form>